// brand colors
$black: #202022;
$primary: #5847F1;
$neurtal: #F4F5F7;
$white: #FFFFFF;
$role-bg: #C1E288;

// status colors
$red: #EA5045;
$yellow: #EAC645;
$green: #8EEA45;

// text colors
$secondary: #475467;
$role-color: #303240;
$white-60: rgba($white, 0.6);

// priority color
$low: #C1E288;
$medium: #FFEDC9;
$top: #FBB6B6;