<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="images/{635BDD3C-C3BD-4803-A2CA-C8276063A857}.png.jpg">
    <title>TaskTrack</title>
</head>
<body>
    <div class="main">
        <div class="registration-form">
            <div class="logo-img-text">
                <img src="images/{3D8BBC34-6D04-478A-AE6C-5B50DA12A958}.png.jpg" alt="img">
                <p class="login-text">Log in to your account</p>
                <p class="login-text2">Welcome back! Please enter your details.</p>
            </div>
            <div class="inputs">
                    <input class="inputphonenumber" type="tel" placeholder="Phone Number">
                    <input class="inputpassword" type="password" placeholder="password">
            </div>
            <div class="button">
                <button class="register-button" id="registerbutton">Sign in</button>
                <p class="donthaveacca">Don't have an account? <span class=""><a href="signup.html">Sign up</a></span></p>
                
            </div>
        </div>
    </div>
</body>
</html>